<h1>New Releases</h1>
<p>
  The following is a list of new releases.
  <br />
  Click the <b>album cover</b> or <b>artist name</b> for more information.
</p>

<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column">
    <!-- Single "Responsive" Card-->
    <div fxFlex [style.margin]="'20px'" *ngFor="let item of releases">
      <mat-card [style.min-width]="'200px'">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>New Release</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          class="album-cover"
          [routerLink]="['/album', item.id]"
          src="{{ item.images[0].url }}"
          alt="album art"
        />
        <div [ngSwitch]="item.release_date_precision">
          <strong>Release Date: </strong>
          <span *ngSwitchCase="'day'">{{ item.release_date }}</span>
          <span *ngSwitchCase="'year'">{{ item.release_date }}-01-01</span>
          <br />
          <strong>Tracks: </strong>{{ item.total_tracks }}<br /><br />
        </div>
        <mat-card-content>
          <mat-chip-list aria-label="Artist selection">
            <mat-chip
              *ngFor="let artist of item.artists"
              [routerLink]="['/artist', artist.id]"
              >{{ artist.name }}</mat-chip
            >
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- -->
  </div>
</div>
